/*
CS 248, Homework 5 (Weather) 
You should download and use this weather.css, but do not need to modify it.
*/


body, button, input, option, select {
	font-family: sans-serif;
	font-size: 12pt;
}

body {
	width: 80%;
	margin: auto;
	padding-top: 30px;
}

label {
	font-weight: bold;
}

#now, #nowtemp {
	float: left;
	width: 100px;
	font-size: 40pt;
	margin: 0px;
	padding: 0px;
}

#today, #forecast {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

#today > div, #forecast > div {
	flex: 1 1 auto;
	text-align: center;
}

#namearea, #resultsarea, #buttons {
	margin-top: 20px;
	margin-bottom: 20px;
}

#resultsarea, #todayarea, #today, #namearea {
	clear: both;
}

.gray {
	height: 40px;
	width: 100%;
}

#todaytitle, #forecastbutton {
	float: right;
	text-align: right;
}

h1 {
	margin-bottom: 10px;
	font-size: 22pt;
}

#time {
	margin-top: 10px;
	font-size:	16pt;
}


.loading {
	margin: auto;
	text-align: center;
}

h2 {
	font-size: 14pt;
}
